<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>O'Reilly Conferences</title>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body ng-app="conferencesApp">
	<h2>O'Reilly Conferences</h2>
	<div class="container-fluid" ng-controller="confController">
		<table class="table table-striped table-hover table-condensed table-responsive col-md-12 col-xs-12">
			<thead>
				<th>#</th>
				<th>Name</th>
				<th>Zone</th>
				<th>Topic</th>
				<th>URL</th>
				<th>Twitter</th>
				<th>City</th>
				<th>Country</th>
				<th>Start</th>
				<th>Stop</th>
			</thead>
			<tr ng-repeat="conference in conferences">
				<th>{{ $index + 1 }}</th>
				<td>{{ conference.name }}</td>
				<td>{{ conference.zone }}</td>
				<td>{{ conference.topic }}</td>
				<td>{{ conference.url }}</td>
				<td>{{ conference.twitter }}</td>
				<td>{{ conference.city }}</td>
				<td>{{ conference.country }}</td>
				<td>{{ conference.start }}</td>
				<td>{{ conference.stop }}</td>
			</tr>
		</table>
	</div>

	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="js/conferences.js"></script>
</body>
</html>
