<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>O'Reilly Conferences</title>
	<link rel="stylesheet" href="css/grid.css">
	<link rel="stylesheet" href="css/normalize.css">
</head>
<body ng-app="conferencesApp">
	
	<div ng-controller="confController">
		<div ng-repeat="conference in conferences">
				
		</div>
	</div>

	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="js/conferences.js"></script>
</body>
</html>
